{# @Component
name: Typography
description: Fonts are used throughout the site, but should be limited to these families.
group: Base
#}

{#
  We call a macro which calls itself to render the font samples.
  @see http://twig.sensiolabs.org/doc/tags/macro.html
#}
{% import _self as fonts %}

{{ fonts.sampler('"HelveticaNeue", "Helvetica", "Arial", sans-serif;', 'Primary') }}
{{ fonts.sampler('Georgia, Times, "Times New Roman", serif;', 'Secondary', 'font-secondary') }}

{% for i in 1..6 %}
  <h{{i}}>Heading Level {{i}}</h{{i}}>
{% endfor %}


{% macro sampler(fonts, type, class) %}
  <p{{ class ? " class=#{class}" }}>{{ type ?: 'Sample' }} font: {{ fonts }}</p>
  <p{{ class ? " class=#{class}" }}><em>{{ type ?: 'Sample' }} font italic: {{ fonts }}</em></p>
  <p{{ class ? " class=#{class}" }}><strong>{{ type ?: 'Sample' }} font bold: {{ fonts }}</strong></p>
{% endmacro %}

<h4 id="stuff" class="visually-hidden">{{ 'Stuff'|t }}</h4>
{{contents}}
